<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
        <ion-nav-bar align-title="center" class="bar-stable bar-balanced">
            <ion-nav-back-button class="button-clear">
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-clear" menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">

            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu class="sidebar-custom" side="left" width="100">
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/home">
                    <i class="icon ion-ios-home"></i>
                    <p>Home</p>
                </ion-item>
                <ion-item menu-close href="#/app/aprovacao">
                    <i class="icon ion-checkmark"></i>
                    <p>Aprovação</p>
                </ion-item>
                <ion-item menu-close href="#/app/home">
                    <i class="icon ion-gear-b"></i>
                    <p>Config</p>
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    <i class="icon ion-log-out"></i>
                    <p>Logout</p>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
