<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Filtrar Ano</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="close()">Fechar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item href="#">Andra</ion-item>
            <ion-item href="#">Grupo Rexcel</ion-item>
            <ion-item href="#">Rolapecas</ion-item>
            <ion-item href="#">Estronic</ion-item>
            <ion-item href="#">Fecva</ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>