<ion-view view-title="Playlist">
    <ion-content>
        <div class="card">
            <div class="item detail item-text-wrap">
                <div class="row">
                    <div class="col col-80">
                        <h1><strong>Andra</strong></h1>
                    </div>
                    <div class="col">
                        <i class="icon ion-paintbrush"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <em>Lorem Ipsum Dolor Amet Sit</em>
                    </div>
                </div>
            </div>
            <div class="item detail item-text-wrap">
                <div class="row">
                    <div class="col">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Proin molestie est sed enim malesuada, eu interdum odio malesuada. 
                            Vestibulum tristique aliquam augue, aliquet rhoncus nunc fringilla eu. 
                            Aenean bibendum erat vitae justo condimentum, et sodales lectus tristique. 
                            Nam cursus, sapien ac fringilla dictum, urna est luctus quam, 
                            et vestibulum lorem nibh at justo. Vestibulum ultrices sapien a libero pharetra, 
                            vel sagittis massa faucibus. Cras vel lacus diam. Donec eget turpis scelerisque 
                            massa porta dignissim eu a tellus
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<div class="bar bar-footer bar-balanced decision">
    <button class="button button-clear pull-left deny">
        <i class="icon ion-close"></i>
    </button>
    <button class="button button-clear pull-right allow">
        <i class="icon ion-checkmark"></i>
    </button>
</div>
